<div class="container-marged-bottom">
  <div class="row">
    <div class="col-md-12">
      <p class="centered mid-size">Input your name and name of the task</p>
    </div>
  </div>
  <form class="form-inline" name="inputForm">
    <div class="form-group">
      <label>Name</label>
      <input name="owner" type="text" class="form-control" placeholder="Your Name" ng-model="ownerName" required>
    </div>
    <div class="pull-right">
      <div class="form-group">
        <label>Task Name</label>
        <input name="task" type="text" class="form-control" placeholder="Meeting #1" ng-model="taskName" required>
      </div>
      <button class="btn btn-primary" ng-click="create.addTask()">Add</button>
    </div>
  </form>
  <div ng-show="done" class="faded" ng-class="fadeIn">
    <p class="mid-size centered marged blue">The new task has been added.</p>
  </div>
</div>
